<mat-toolbar color="primary">
    <span>App Title</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/hr/index">HR</button>
    <button mat-button routerLink="/sales/index">Sales</button>
    <button mat-button routerLink="/inventory/index">Inventory</button>
    <span class="spacer"></span>
    <button mat-button routerLink="/login">Login</button>
    <!--
        <button mat-button *ngIf="!isLoggedIn">Login</button>
        <button mat-button *ngIf="isLoggedIn">Logout</button>
    -->
  </mat-toolbar>
  